.container{
    display: flex;
    width: 100%;
}
.containerSwap_One{
    display: flex;
    background-color: rgba(8, 8, 138, 0.914);
    width: 50%;
    border-radius: 5px;
}

.containerSwap_One_One{
    display: flex;
    border-radius: 15px;
    width: 30%;
}
.containerSwap_One h1{
    width: 70%;
}
.containerSwap_One_One_One{

}
.containerSwap_Two{
    background-color: rgba(8, 8, 138, 0.914);
    width: 50%;
    border-radius: 5px;
}